@import "tailwindcss";
@plugin "daisyui";

a.active {
  color: rgb(36, 45, 160);
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark ($:where([data-theme=dark], [data-theme=dark]*));
